.container{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}
.left{
    box-sizing: border-box;
    background-color:skyblue;
    display:flex;
}
.main{
    box-sizing: border-box;
    display: flex;
    flex-flow:column nowrap;
    padding:20px;
    flex:1;
    background-color:cadetblue;
}
.right{
    box-sizing: border-box;
    border-left: 1px solid rgb(230, 230, 230);
    width: 394px;
    background-color:darkslategrey;
    display:flex;
}
/* 普通大屏 */
@media(min-width:1080px){
    .left{
        border-right:1px solid rgb(230,230,230);
        flex-shrink: 0;
        width:80px;
    }
}

/* 直接给你缩！ */
@media(max-width:1240px){
    .right{
        width:280px;
    }
}

@media(max-width:1080px){
    .container{
        flex-direction: column;
    }
    .left{
        flex-direction: row;
        height:56px;
        top:0px;
        position: fixed;
        width:100%;
    }
    .main{
        margin-top:56px;
        margin-bottom: 40px;
    }
    .right{
        flex-direction: row;
        position: fixed;
        bottom:0px;
        height:50px;
        width:100%;
        border-left: 0px;
    }
}
