#ModelWrapper{
    position: fixed;
    
}

.addList{
    position: fixed;
    transform: translate(-50%,0);
    z-index: 1;
    top:max(12%,60px);
    left:50%;
    background-color: white;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 10px;
    width:max(50%,min(400px,80%));
    border-radius: 10px;
    padding:56px 0;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
.addList h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.addList input,.addList textarea{
    padding:0;
    width:300px;
    background-color: inherit;
    color:#212121;
    outline:none;
    border:none;
    border-bottom: 1px solid black;
    height:25px;
    font-size: 16px;
    line-height: 16px;
    resize:none;
    overflow: hidden;
}
.addListButton{
    width: 100px;
    height:35px;
    border:none;
    border-radius: 16px;
    background-color:rgb(26,137,23);
    color:white;
    font-size:16px;
    margin-top:25px;
    cursor: pointer;
}
.addListButton:first-of-type{
    margin-right:25px;
}

@media(min-width:1080px){
    .addList{
        left:40%;
    }
}