

.top{
    /* background-color:skyblue; */
}

.topWrapper{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    height:131px;
    font-size: 14px;
}

.h1Wrapper{
    height:28px;
    line-height:28px;
    font-size: 20px;
    word-break:break-all ;
    -webkit-line-clamp: 1;
    display:-webkit-box;
    overflow:hidden;
    text-overflow: ellipsis;
}

@media(max-width:720px){
    .h1Wrapper{
        font-size:16px;
    }
}

.topRightWrapper{
    display:flex;
}
@media(max-width:1080px){
    .topRightWrapper>*:not(:first-child){
        display: none;
    }
}

.topRightWrapper>*{
    margin:0 5px;
}
.topFlexCenter{
    display:flex;
    padding:2px 0;
    overflow:hidden;
    align-items:center;
}

.topBottom{
    min-width:max-content;
    margin-right:32px;
    padding-bottom: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(41,41,41);
    cursor:pointer;
}

.articleWrapper{
    padding:20px 0;
    border-bottom: 1px solid rgb(230,230,230);
}
.articleH3Wrapper{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.h3{
    -webkit-line-clamp: 3;
    word-break: break-all;
    max-height: 60px;
    display:-webkit-box;
    text-overflow: ellipsis;
    overflow:hidden;
    line-height:20px;
    -webkit-box-orient:vertical;
}
.h3Margin{
    margin-top: 4px;
}
.h3.title{
    color:rgb(41,41,41);
}
.h3.content{
    color:rgb(117,117,117);
}