.container{
    position: relative;
    width:80px;
}
.left{
    position:sticky;
    top:0px;
    height:100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
}
.top{

}