.publish{
    color:#fff !important;
}
.button{
    background-color:#1a8917;
    border-color: #1a8917;
    border-radius: 10px;
    height:25px;
    padding:0 6px;
    border:0px;
}
.button:hover{
    background-color: #0c6b08
}

.logo{
    box-sizing: border-box;
    width: 40px;
    height:40px;
    margin: 0 auto;
}